/* roboto-300italic - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 300;
    src: url('fonts/roboto-v30-latin-300italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* roboto-regular - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('fonts/roboto-v30-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

html {
font-family: 'Roboto', sans-serif;
}

/* Style the header */
header {
    background-color: #f5f5f5; /* Set your desired background color */
    color: #111111; /* Set the text color */
    padding: 10px 70px; /* Adjust padding as needed */
    display: flex; /* Enable flex layout for header */
    justify-content: space-between; /* Place items at opposite ends */
    align-items: center; /* Vertically align items */
    border-bottom: 1px solid rgb(215, 215, 215);
}

/* Style the navigation container on the left */
.site-header-item-container {
    display: flex;
    align-items: center;
}

/* Style the navigation list */
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav li {
    margin-right: 20px; /* Adjust the spacing between list items */
}

/* Style the navigation links */
.site-header-item {
    text-decoration: none;
    color: #111111; /* Set link color */
    font-weight: bold; /* Set font weight as desired */
}

.site-header-item:hover {
    transition: all .5s cubic-bezier(0,0,.23,0.5);
    text-decoration: none;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(90deg,#00C7D4,#6C94EA 10%,#D662FF);
    background-size: 100% 25%;
    background-position: 100%;
    font-size: 1.1rem;
}

/* Style the site logo on the right */
.site-header-logo {
    display: flex;
    align-items: center;
}

.header-logo {
    width: 200px; /* Set the logo width as needed */
    height: auto; /* Maintain aspect ratio */
}

/* Default styles for larger screens */
.home-layout {
    display: flex;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 100px;
    margin-right: 50px;
    justify-content: space-between;
}

.home-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 37%;
    height: auto;
    text-align: left;
    box-sizing: border-box;
}

.centered-content {
    text-align: left;
}

.home-title {
    font-size: 25px;
}

.home-content {
    font-size: 18px;
}
.home-guide {
    width: 70%;
    text-align: right;
    height: auto;
}

.home-guide-picture img {
    max-width: 100%;
    height: auto;
}
/* Media query for smaller screens (e.g., below 768px) */
@media (max-width: 768px) {
    .home-layout {
        flex-direction: column; /* Change to a stacked layout */
    }

    .home-info, .home-guide {
        width: 100%; /* Full width for both sections */
    }
}



.home-btn1 {
  align-items: center;
  background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-size: 16px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 140px;
  padding: 15px 21px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
}

.home-btn1:active,
.home-btn1:hover {
  outline: 0;
}

@media (min-width: 768px) {
  .home-btn1 {
    font-size: 16px;
    min-width: 140px;
  }
}

/* Style the footer */

footer {
    background-color: #111111; /* Set your desired background color */
    color: white; /* Set the text color */
    padding: 10px 70px; /* Adjust padding as needed */
    display: flex; /* Enable flex layout for header */
    justify-content: space-between; /* Place items at opposite ends */
    align-items: center; /* Vertically align items */
    border-bottom: 1px solid rgb(215, 215, 215);
}

/* Style the navigation container on the left */
.site-footer-item-container {
    display: flex;
    align-items: center;
}

/* Style the navigation links */
.site-footer-item {
    text-decoration: none;
    color: #ffffff; /* Set link color */
    font-weight: bold; /* Set font weight as desired */
}

.site-footer-item:hover {
    transition: all .5s cubic-bezier(0,0,.23,0.5);
    text-decoration: none;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(90deg,#00C7D4,#6C94EA 10%,#D662FF);
    background-size: 100% 25%;
    background-position: 100%;
    font-size: 1.1rem;
}

/* Style the site logo on the right */
.site-footer-logo {
    display: flex;
    align-items: center;
}

.footer-logo {
    width: 200px; /* Set the logo width as needed */
    height: auto; /* Maintain aspect ratio */
}

/*docs*/







/* text sentiment */

.ts-header {
    flex-direction: column;
    margin-top: 100px;
    margin-left: 100px;
    margin-right: 50px;
}
.ts-layout {
    display: flex;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 100px;
    margin-right: 50px;
    justify-content: space-between;
}

.ts-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 37%;
    height: auto;
    text-align: left;
    box-sizing: border-box;
}

.ts-centered-content {
    text-align: left;
}

.ts-title {
    font-size: 18px;
    color: #001D6C;
}

.ts-content {
    font-size: 38px;
    font-weight: bold;
}
.ts-guide {
    width: 70%;
    text-align: right;
    height: auto;
}

.ts-guide-picture img {
    max-width: 100%;
    height: auto;
}
/* Media query for smaller screens (e.g., below 768px) */
@media (max-width: 768px) {
    .ts-layout {
        flex-direction: column; /* Change to a stacked layout */
    }

    .ts-info, .ts-guide {
        width: 100%; /* Full width for both sections */
    }
}


.ts-btn {
    display: flex;
    justify-content: space-between;

}

.ts-btn1 {
  align-items: center;
  background-color: #0F62FE;
  border: 2px solid #0F62FE;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  fill: #000;
  font-family: Inter,sans-serif;
  font-size: 16px;
  font-weight: 600;
  height: 48px;
  justify-content: center;
  letter-spacing: -.8px;
  line-height: 24px;
  min-width: 140px;
  outline: 0;
  padding: 0 17px;
  text-align: center;
  text-decoration: none;
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.ts-btn1:focus {
  color: #171e29;
}

.ts-btn1:hover {
  background-color: #0F62FE;
  border-color: #0F62FE;
  fill: #0F62FE;
}

.ts-btn1:active {
  background-color: #0F62FE;
  border-color: #0F62FE;
  fill: #0F62FE;
}

@media (min-width: 768px) {
  .ts-btn1 {
    min-width: 170px;
  }
}

.ts-btn2 {
  align-items: center;
  background-color: #fff;
  border: 2px solid #0F62FE;
  box-sizing: border-box;
  color: #0F62FE;
  cursor: pointer;
  display: inline-flex;
  fill: #0F62FE;
  font-family: Inter,sans-serif;
  font-size: 16px;
  font-weight: 600;
  height: 48px;
  justify-content: center;
  letter-spacing: -.8px;
  line-height: 24px;
  min-width: 140px;
  outline: 0;
  padding: 0 17px;
  text-align: center;
  text-decoration: none;
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.ts-btn2:focus {
  color: #0F62FE;
}

.ts-btn2:hover {
  border-color: #0F62FE;
  color: #0F62FE;
  fill: #0F62FE;
}

.ts-btn2:active {
  border-color: #0F62FE;
  color: #0F62FE;
  fill: #0F62FE;
}

@media (min-width: 768px) {
  .ts-btn2 {
    min-width: 170px;
  }
}


/* CSS for the "ts-file-upload" section */
.ts-file-upload {
    border: 1px solid #ccc;
    padding: 20px;
    margin: 20px 0;
    background-color: #f9f9f9;
    border-radius: 5px;
}

.drag-and-drop {
    border: 2px dashed #ccc;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    margin-bottom: 10px;
}

.drag-and-drop p {
    margin: 0;
}

#fileInput {
    display: none;
}

.loading-progress {
    display: none;
    background-color: #f0f0f0;
    height: 10px;
    width: 100%;
    margin-top: 10px;
    position: relative;
}

.progress-bar {
    height: 100%;
    width: 0;
    background-color: #007bff;
    transition: width 0.2s;
}

.file-list p {
    margin: 5px 0;
}


/* CSS for the table container */
.table-container {
    max-height: 400px; /* Adjust the desired height as needed */
    overflow: auto;
}

