{% extends "app_general/components/base.html" %}
{% block site_title %}Docs{% endblock site_title %}Docs
{% block content%}
<link rel="stylesheet" type="text/css" href="docs.css">
    <div class="wrapper">
        <h2> HOW TO USE MULTIVERSE </h2>

        <div class="faq">
            <button class="accordin">
                Who should use the app?
                <i class="fa-solid fa-chevron-down"></i>
            </button>
            <div class="pannel">
                <p>asnjdnjfnnevunuevnunevnwevnenvisvio</p>
            </div>
        </div>

        <div class="faq">
            <button class="accordin">
                How to input data?
                <i class="fa-solid fa-chevron-down"></i>
            </button>
            <div class="pannel">
                <p>asnjdnjfnnevunuevnunevnwevnenvisvio</p>
            </div>
        </div>

        <div class="faq">
            <button class="accordin">
                Is my personal information safe?
                <i class="fa-solid fa-chevron-down"></i>
            </button>
            <div class="pannel">
                <p>asnjdnjfnnevunuevnunevnwevnenvisvio</p>
            </div>
        </div>

        <div class="faq">
            <button class="accordin">
                HHow can we get in touch?
                <i class="fa-solid fa-chevron-down"></i>
            </button>
            <div class="pannel">
                <p>asnjdnjfnnevunuevnunevnwevnenvisvio</p>
            </div>
        </div>

    </div>
{% endblock  %}
